/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }

table {
	width: 600px;
	border-collapse: collapse;
	border: 1px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

th,td {
	padding: 10px;
}

td {
	text-align: center;
}

th[scope="col"] {
	background: #ccc;
}

tr:nth-child(even) {
	background: #eee;
}

tr:nth-child(odd) {
	background: #ddd;
}
